div {
  border: 1px solid black;
  margin: 4px;
}

#global-container {
  overflow: hidden;
  clear: both;
}

#photo, #block-right {
  float: left;
  position: relative;
}

#photo {
  background: #dedede;
  height: 350px;
  width: 300px;
}

#block-right {

}

#separator {

}

#relations {

}

#titulo {

}
